.main-body-container {
    margin: 0 !important;
}
hr {
    margin-top: 32px;
}
input[type="file"] {
    display: block;
    margin-bottom: 16px;
}
video {
    height: 360px;
}
.stop-button {
    margin-left: 7px !important;
}
.start-class {
    display: flex;
    justify-content: space-between;
}